 #game{
    background-color: aqua;
    position: relative;
    display: grid;
    width:1000px;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit,minmax(125px,1fr));
    grid-gap:15px 10px;
    padding: 2%;
    margin : 4%;
  }
  h1{
    text-align: center;
  }
  .scene {
    width: 100%;
    height: 260px;
    border: 1px solid #CCC;
    margin: 40px 0;
    perspective: 600px;
  }
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }

  .card.flip-Card {
    transform: rotateY(180deg);
  }
  
  .cardBack{
    background:purple;
    transform: rotateY(180deg);
  }